*{
    margin: 0;
    padding: 0;
  }
  
    body {

    background-image: url("https://cdna.artstation.com/p/assets/images/images/047/486/492/original/seerlight-2.gif?1647701346") ; 
    

    
    
    }
  